body{
    background-color: #f9f8fa;
    padding-top: 20px;
}

.form-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map{
    flex: 1;
    margin-right: 20px;
}

h1{
    color: cadetblue;
    margin-bottom: 30px;
}

.form-label{
    font-weight: bold;
}

.btn-primary{
    background-color: bisque;
    border-color: bisque;
}

.btn-primary:hover{
    background-color: #c8c8a2;
    border-color: #c8c8a2;
}